@import './var';

.navbar-container{
    width: 100vw;
    height:3rem;
    position: absolute;
    background-color: $nav-bg1;
    display: flex;
    align-content: center;
    justify-content: space-around;
};
.navbar{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 100%;
}
.nav-item{
    width: 100%;
    height:100%;

}
.logo{
    font-family: 'Lobster', cursive;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width:8rem;
    font-size: 2rem;
    height: 100%;
    color: white;
    text-decoration: none;
    float:left;
    left:0;
    position: absolute;
}
.nav-link{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width:8rem;
    height: 100%;
    color: $nav-text1;
    text-decoration: none;
}
.nav-link:hover{
    color: $nav-text2;
    background-color: $nav-bg2;
}

p{
    width:50%;
    text-align:center;
    
}