.slideshow-container{

  width: 100vw;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.slideshow-item{
  padding: 2rem;
  border-radius:1rem;
  color: $body-text2;
  width: 25%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $body-bg1;
  margin: 5rem .5rem .5rem;
}