/*

This files purpose is the import all the individual components styles. I'll use classes and IDs to style things accordingly. 
Additionally this file will contain some default styling. Merely because I didn't see a point in making a seperate file for it.

*/

/* scss components */
@import './nav';
@import './var';
@import './slideshow';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



:root{
   
   font-size: 16px;

}
 

/* remove default styling*/ 
*{
    padding: 0;
    margin: 0;




}
body{
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}
/* Scrollbar*/
body::-webkit-scrollbar{
    width:0.25rem;
    display:flex;
    flex-direction: row;
    
}
body::-webkit-scrollbar-track {
    background: $nav-bg2;
}
body::-webkit-scrollbar-thumb{
    background: $nav-bg1;
}